
.section_1{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #00091a, #001a4d);
   display: flex;
   align-items: center;
   justify-content: center;
   /* perspective: 90rem; */
   z-index: 2;
}
.videoWrapper{
    position: absolute;
    width: 100vw;
    height: 100vh; 
    background-color: #000;
    animation: fullScreen 1s 1s forwards;
}
.video{
    width: 100%;
    height: 100%; 
    opacity: 0.5;
}
video{
    width: 100%;
    height: 100%;  
}
.sec_1_heading{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 8rem;
    color: #fff;
    z-index: 5;
    font-weight: bold;
    letter-spacing: 1rem;
    opacity: 1;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    animation: titleDesap 1s 1s forwards;
}
@keyframes fullScreen {
    0% {width: 40rem; height: 50rem}
    100%{ width: 100vw; height: 100vh}
}
@keyframes titleDesap {
    0% {opacity: 1; transform:translateZ(0); letter-spacing: 0.8rem;}
    100%{ opacity: 0; transform:translateZ(-20rem); letter-spacing: 1.5rem;}
}


/* RESPONSE */
@media( max-width: 900px){
    .sec_1_heading{
        font-size: 3rem;
    }
}
/*END OF  RESPONSE */
