.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15rem 5rem 0rem 5rem;
   
    /* background-color: ; */
}
.card{
    width: 30rem;
    height: 20rem;
    background-color: black;
    margin-bottom: 3rem;
    margin-left: 3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
    border-radius: 0.5rem;
}
.header{
    width: 100%;
    height: 20%;
    background-color: #0073e6;
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 0.1px solid  #00264d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.body{
    width: 100%;
    height: 60%;
    background-color: #0080ff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
}
.footer{
    width: 100%;
    height: 20%;
    background-color: #0073e6; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.comment{
    width: 8rem;
    height: 2rem;
    background-color: #b38f00;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #b38f00;
}
.commentContent{
    display: none;
    width: 0;
    height: 0;
    background-color:  #ffb3ec;
    position: absolute;
    bottom: -1rem;
    left: 0;
    border-radius: 0.3rem 0.3rem 0 0;
    transition: width 0.5s, height 0.5s;
    box-shadow: 0.1rem 0.1rem 0.2rem #000;
    
}
.comFooter{
    width: 100%;
    height: 5rem;
    background-color: #330026;
    border-radius: 0.3rem 0.3rem 0 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeBtn{
    position: absolute;
    color: white;
    top: 0.2rem;
    right: 0.2rem;
    font-size: 3rem;
    cursor: pointer;
}
.link{
    color: #fff;
}
.comBody{
    padding: 5rem;
    font-size: 1.5rem;
    color: #000;
    opacity: 0;
}
.delete{
    width: 8rem;
    height: 2rem;
    background-color: #ff3300;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #ff3300;
    border: none;
}
.id{
    display: none;
}