
/* .openComment .waiter_commentContent__czhUn{
    width: 105%;
    height: 30rem;
} */
.openComment .commentSection{
    display: block;
    width: 105%;
    height: 30rem;
}
/* .openComment .waiter_comBody__uWyhn{
    opacity: 1;
    transition: opacity 0.5s 0.7s;

} */
.openComment .comBody{
    opacity: 1;
    transition: opacity 0.5s 0.7s;

}