.container{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.table{
    width: 70rem;
    background-color: rgb(8, 8, 37);

}
.thead{
    height: 5rem;
}
.headRow{
    border-bottom: 0.3rem solid rgb(216, 216, 234);
}
.th{
    font-size: 1.8rem;
    color: #fff;
    letter-spacing: 0.1rem;
    border-bottom: 0.2rem solid rgb(57, 57, 81);

}
.tbody{
    /* background-color: yellow; */
    
}
.row{
    /* background-color: green; */
    height: 4rem;

}
.td{
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    border-bottom: 0.2rem solid rgb(57, 57, 81);

    
}