.ta{
    width: 2.5rem;
    height: 2.5rem;
    background-color:transparent;
    position:absolute;
    cursor: pointer;
    
}
.reservation{
    width: 20rem;
    background-color: green;
    transform: translate(-50%, -120%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: 1.5rem;
    padding-top: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem black;
}
.date{
    display: flex;
    justify-content:center;
    margin-bottom: 2rem;
}
.br{
    text-align: center;
    margin-bottom: 1rem;
}
.redGreen{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.free, .booked{
    background-color: rgb(13, 75, 13);
    color: white;
    width: 100%;
    height: 4rem;
    /* position: absolute; */
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
}
.booked{
    background-color: red;

}



.ta:nth-child(1){
    top: 3.5rem;
    left: 4rem;
     z-index: 2;
 }
 .ta:nth-child(2){
     top: 3.5rem;
     left: 13.5rem;
      z-index: 2;
  }
  .ta:nth-child(3){
     top: 3.5rem;
     left: 18rem;
      z-index: 2;
  }
  .ta:nth-child(4){
     top: 3.5rem;
     left: 26rem;
      z-index: 2;
  }
  .ta:nth-child(5){
     top: 3.5rem;
     left: 30rem;
      z-index: 2;
  }
  .ta:nth-child(6){
     top: 3.5rem;
     left: 34rem;
      z-index: 2;
  }
  .ta:nth-child(7){
     top: 3.5rem;
     left: 38rem;
      z-index: 2;
  }
  .ta:nth-child(8){
     top: 3.5rem;
     left: 42rem;
      z-index: 2;
  }
  .ta:nth-child(9){
     top: 18rem;
     right: 10rem;
      z-index: 2;
  }
  .ta:nth-child(10){
     top: 21rem;
     right: 10rem;
      z-index: 2;
  }
  .ta:nth-child(11){
     top: 24rem;
     right: 10rem;
      z-index: 2;
  }