.container{
    width: 100vw;
    height: 40vh;
    background: #43434399;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 2rem;
}

/* CONTACT */
.contact{
    width: 45rem;
    height: 10rem;
    margin-bottom: 2rem;
}
.heading{
    font-size: 3rem;
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.1rem #fff;
    margin-bottom: 2rem;
}
.information{
    display: flex;
}
.mailTel{
    margin-right: 3rem;
}
p{
    font-size: 1.5rem;
    color: #fff;
}
/* END OF CONTACT */

/* FIND US */
.findUs{
    width: 45rem;
    height: 10rem;
    margin-bottom: 2rem;
}
.icons{
    font-size: 3rem;
    color: #fff;
    margin-right: 3rem;
}
/*END OF FIND US */
.policies{
    width: 45rem;
    height: 10rem;
}

/* RESPONSE */
    @media( max-width: 900px){
        .container{
            height: 50vh;
            
        }
        .contact{
            margin-bottom: 5rem;
        }
    }
/*END OF RESPONSE */
