.container{
    background:linear-gradient(rgba(15, 15, 15, 0.6), rgba(29,29,29, 0.9)),
    url("../../../../public/images/backgrounds/float.jpg") center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link{
    
    width: 18rem;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.numbers{
    font-size: 2rem;
    color: #fff;
    opacity: 0.5;
    transition: all 1s;
}
h1{
    transition: all 1s; 
}
.link:hover .numbers{
    transform: translateX(1.5rem);
}
.link:hover h1{
    transform: translateX(-1.5rem);
}