.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    position: relative;
    padding-bottom: 20rem;
}

.text{
    font-size: 1.7rem !important;
    color: white;
}
.allMeals{
    width: 100%;
    padding-top: 20rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #f2f2f2;
    gap: 2rem;
}



.loading{
    font-size: 10rem;
}



