body {
  font-family: sans-serif;
}
.wrapper {
    width: 300%;
    height: 100vh;
    display: flex;
  }

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header{
    
  }
  .head_imgWrapper{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .head_img{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  .headerText{
    position: absolute;
    font-size: 3rem;
    width: 50%;
    text-align: center;
    letter-spacing: 0.3rem;
    color: #fff;
    
  }
/*  
end Of HEADER */

  /* Section 1 */

  .sec1{

  }
  .sec1_ImgHolder{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
    perspective: 90rem;
  }
  .sec1_imgWrapper{
    width: 45%;
    height: 45%;
    transform: translateZ(-300rem);
    transition: 0.5s;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(14, 209, 248);
  }
  .sec1_header{
    position: absolute;
    color: #fff;
  }
/* Section 2 */

  .second {
    background-color: #000;
  }
.img{
  border-radius: 0.5rem;
}