 /* .section7{
    width: 100vw;
    height: 100vh;
}
.blue{
    width: 100%;
    height: 100%;
   background-color: blue;
}
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.red{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;  
    color: #fff;
    font-size: 30px;
     z-index: 1; 
}
.orange{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: orange; 
    color: #fff;
    font-size: 30px;
    transform: translateY(-100%);  
    z-index: 4; 

}
.purple{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: purple; 
    color: #fff;
    font-size: 30px;
   
}
.green{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: green; 
    color: #fff;
    font-size: 30px; 
    
}  */
