.container{
    width: 100%;
    height: 100%;
    background: linear-gradient( black , red);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapp{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.heading{
    font-size: 3rem;
    position: absolute;
    color: white;
    left: -5rem;
    top: -5rem;
}
.form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.col1{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.inpHalf{
    width: 48%;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    padding-left: 0.5rem;

}
.input{
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    padding-left: 0.5rem;
}
.textarea{
    border-radius: 0.5rem;
}
.imgWrapper{
    width: 60rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    /* background-color: aqua; */
}

.tables{
    width: 100%;
     height:100%;
    position: relative;
    /* background-color: aqua; */
}



.img1, .img2{
    width: 60rem;
    height: 30rem;
}
.img1{
    display: none;
}

.baseBtn1, .baseBtn2, .bookBtn{
    width: 15rem;
    height: 4rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5rem;
}
.baseBtn2{
    background-color: green;
    margin-right: 4rem;
}
.baseBtn1{
    background-color: #ff3333;
}
.bookBtn{
    position: absolute;
    background-color: rgb(255, 123, 0);
    top: 20rem;
    left: 60rem;

}
.tableIn:hover::after {
    content: "Please select or remove tables by clicking on it";
    position: absolute;
    width: 20rem;
    height: 4rem;
    background-color: rgb(16, 176, 7); 
   top: -0.1rem;
   left: 0;
   color: white;
   font-size: 1.5rem;
   border-radius: 0.2rem;
   padding: 0.5rem;
   text-align: center;
}



